In [ ]:
import pandas as pd

# Step 1: Load the dataset
# Replace 'titanic.csv' with the correct path if needed
titanic_data = pd.read_csv("drive/MyDrive/Colab Notebooks/titanic.csv")

# Step 2: Check info of the DataFrame
print("Dataset Info:")
print(titanic_data.info())
print("\nDataset Head:")
print(titanic_data.head())

# Problem 1 - Sorting:

# 1. Create a DataFrame called 'fare' containing only the PassengerId column
fare = titanic_data[['PassengerId']]
print("\nPassengerId DataFrame Head:")
print(fare.head())

# 2. Create a DataFrame called 'class_age' containing Pclass and Age columns
class_age = titanic_data[['Pclass', 'Age']]
print("\nClass_Age DataFrame Head:")
print(class_age.head())

# 3. Create a DataFrame called 'survived_gender' containing Survived and Sex columns
survived_gender = titanic_data[['Survived', 'Sex']]
print("\nSurvived_Gender DataFrame Head:")
print(survived_gender.head())

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  20 non-null     int64
 1   Pclass       20 non-null     int64
 2   Name         20 non-null     object
 3   Sex          20 non-null     object
 4   Age          20 non-null     int64
 5   Embarked     20 non-null     object
 6   Survived     20 non-null     int64
dtypes: int64(4), object(3)
memory usage: 1.2+ KB
None

Dataset Head:
   PassengerId  Pclass       Name     Sex  Age Embarked  Survived
0            1       1     Braund    male   22        S         1
1            2       1    Cumings  female   38        C         0
2            3       1  Heikkinen  female   26        S         0
3            4       1   Futrelle  female   35        S         1
4            5       1      Allen    male   35        S         1

PassengerId DataFrame Head:
   PassengerId
0            1
1            2
2            3
3            4
4            5

Class_Age DataFrame Head:
   Pclass  Age
0       1   22
1       1   38
2       1   26
3       1   35
4       1   35

Survived_Gender DataFrame Head:
   Survived     Sex
0         1    male
1         0  female
2         0  female
3         1  female
4         1    male

2

In [ ]:
import pandas as pd
titanic_data = pd.read_csv("/content/drive/MyDrive/Titanic-Dataset.csv")
print(titanic_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [ ]:
fare = titanic_data[['Fare']]
print(fare.head)
class_age = titanic_data[['Pclass','Age']]
print(class_age.head)
female_under_18 = titanic_data[(titanic_data['Age'] < 18) & (titanic_data['Sex'] == 'female')]
print(female_under_18.head())

<bound method NDFrame.head of         Fare
0     7.2500
1    71.2833
2     7.9250
3    53.1000
4     8.0500
..       ...
886  13.0000
887  30.0000
888  23.4500
889  30.0000
890   7.7500

[891 rows x 1 columns]>
<bound method NDFrame.head of      Pclass   Age
0         3  22.0
1         1  38.0
2         3  26.0
3         1  35.0
4         3  35.0
..      ...   ...
886       2  27.0
887       1  19.0
888       3   NaN
889       1  26.0
890       3  32.0

[891 rows x 2 columns]>
    PassengerId  Survived  Pclass                                  Name  \
9            10         1       2   Nasser, Mrs. Nicholas (Adele Achem)
10           11         1       3       Sandstrom, Miss. Marguerite Rut
14           15         0       3  Vestrom, Miss. Hulda Amanda Adolfina
22           23         1       3           McGowan, Miss. Anna "Annie"
24           25         0       3         Palsson, Miss. Torborg Danira

       Sex   Age  SibSp  Parch   Ticket     Fare Cabin Embarked
9   female  14.0      1      0   237736  30.0708   NaN        C
10  female   4.0      1      1  PP 9549  16.7000    G6        S
14  female  14.0      0      0   350406   7.8542   NaN        S
22  female  15.0      0      0   330923   8.0292   NaN        Q
24  female   8.0      3      1   349909  21.0750   NaN        S

3.11

In [ ]:
embarked_c_or_s = titanic_data[titanic_data['Embarked'].isin(['C', 'S'])]
print(embarked_c_or_s.head())

first_second_class = titanic_data[titanic_data['Pclass'].isin([1, 2])]
print(first_second_class.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
9            10         1       2
11           12         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                             McCarthy, Mr. Timothy J    male  54.0      0
9                 Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
11                           Bonnell, Miss. Elizabeth  female  58.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
6       0     17463  51.8625   E46        S
9       0    237736  30.0708   NaN        C
11      0    113783  26.5500  C103        S

3.2

In [ ]:
import pandas as pd


titanic_data = pd.read_csv("/content/drive/MyDrive/Titanic-Dataset.csv")


titanic_data['fare_per_year'] = titanic_data['Fare'] / titanic_data['Age']


high_fare_age = titanic_data[titanic_data['fare_per_year'] > 5]


high_fare_age_srt = high_fare_age.sort_values(by='fare_per_year', ascending=False)


result = high_fare_age_srt[['Name', 'fare_per_year']]

result.head()

                                Name  fare_per_year
305   Allison, Master. Hudson Trevor     164.728261
297     Allison, Miss. Helen Loraine      75.775000
386  Goodwin, Master. Sidney Leonard      46.900000
164     Panula, Master. Eino Viljami      39.687500
183        Becker, Master. Richard F      39.000000

In [ ]:
import pandas as pd

titanic_data = pd.read_csv("/content/drive/MyDrive/Titanic-Dataset.csv")

titanic_data['fare_per_class'] = titanic_data['Fare'] / titanic_data['Pclass']

adult_males = titanic_data[(titanic_data['Sex'] == 'male') & (titanic_data['Age'] >= 18)]

adult_males_srt = adult_males.sort_values(by='fare_per_class', ascending=False)

result = adult_males_srt[['Name', 'Age', 'fare_per_class']]

result.head()

                                   Name   Age  fare_per_class
737              Lesurer, Mr. Gustave J  35.0        512.3292
679  Cardeza, Mr. Thomas Drake Martinez  36.0        512.3292
27       Fortune, Mr. Charles Alexander  19.0        263.0000
438                   Fortune, Mr. Mark  64.0        263.0000
118            Baxter, Mr. Quigg Edmond  24.0        247.5208

3.3

In [2]:
import pandas as pd


df = pd.read_csv('/content/drive/MyDrive/Titanic-Dataset.csv')

total_fare = df['Fare'].sum()

first_class_fare = df[df['Pclass'] == 1]['Fare'].sum()

second_class_fare = df[df['Pclass'] == 2]['Fare'].sum()
third_class_fare = df[df['Pclass'] == 3]['Fare'].sum()

class_fares = [first_class_fare, second_class_fare, third_class_fare]

class_percentages = [(fare / total_fare) * 100 for fare in class_fares]


print(f"Percentage of total fare revenue by class:")
print(f"First Class: {class_percentages[0]:.2f}%")
print(f"Second Class: {class_percentages[1]:.2f}%")
print(f"Third Class: {class_percentages[2]:.2f}%")

Percentage of total fare revenue by class:
First Class: 63.35%
Second Class: 13.25%
Third Class: 23.40%

In [3]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/Titanic-Dataset.csv')

def categorize_age(age):
    if age < 18:
        return 'child'
    elif 18 <= age < 65:
        return 'adult'
    else:
        return 'senior'

df['age_group'] = df['Age'].apply(categorize_age)

total_passengers = len(df)

age_group_counts = df['age_group'].value_counts()

age_group_proportions = age_group_counts / total_passengers

age_group_percentages = age_group_proportions * 100

print(age_group_percentages)

age_group
adult     66.217733
senior    21.099888
child     12.682379
Name: count, dtype: float64